<a href="/boards/map">지도</a>
<br>
<a href="/boards/index">게시판</a>
<br>

<hr>
<form name=fsearch method=get style="margin:0px;"  action="http://search.naver.com/search.naver" target="_blank"> 
<input type=hidden name=where value="nexteach"> 
<input name=query itemname="검색어" required value="" placeholder="네이버 검색으로 연동" size="35"> 
<input type=image src="../search.gif"  width='80' height='25' border=0 align=absmiddle> 
</form> 
<hr>
